{
  "lastpass": {
    "user": "molari.alessandro@gmail.com"
  },
  "copyq": true,
  "weechat": true,
  "turses": true,
  "mega": [
    { "remote": "ebooks",
      "local": "/data/documents/ebooks",
      "user": "molari.alessandro@gmail.com",
      "lpwd": "4785189876"
    }
  ]
}


<%# vim: set filetype=eruby.json : %>
