{
  "lastpass": {"user": "molari.luca@gmail.com"},
  "redshift": true,
  "taffybar": true,
  "copyq": true,
  "weechat": false,
  "turses": false,
  "mega": false,
  "ssh": [
  ]
}


<%# vim: set filetype=eruby.json : %>
