{
  "lastpass": {"user": "alessandro.molari@yoroi.company"},
  "redshift": true,
  "taffybar": true,
  "copyq": true,
  "weechat": true,
  "slack": true,
  "turses": true,
  "mega": true,
  "ssh": [
    {"server": "anapnea.net", "user": "alem0lars", "pwd": "lpass:5386269492"}
  ]
}


<%# vim: set filetype=eruby.json : %>
