{
  "default_profile_name": "single",
  "profiles": {
    "single": {
      "eDP1": {
        "role": "internal"
      }
    },
    "home": {
      "eDP1": {
        "role": "internal",
        "mode": "2880x1620"
      },
      "DP2-1": {
        "role": "external",
        "mode": "1680x1050",
        "position": "right",
        "scale": 1.5
      }
    }
  }
}


<%# vim: set filetype=eruby.json : %>
