{
  "home": {
    "eDP1": {
      "role": "internal"
    },
    "HDMI1": {
      "role": "external",
      "position": "top"
    }
  },
  "work": {
    "eDP1": {
      "role": "internal"
    },
    "HDMI1": {
      "role": "external",
      "position": "top"
    }
  }
}


<%# vim: set filetype=eruby.json : %>
