{
  "apps": [
    {
      "name": "app-trello-*ly",
      "profile": "Default"
    },
    {
      "name": "toggl",
      "profile": "Default"
    },
    {
      "name": "whatsapp",
      "profile": "Default"
    },
    {
      "name": "facebook",
      "profile": "Default"
    },
    {
      "name": "twitter",
      "profile": "Default"
    }
  ]
}


<%# vim: set filetype=eruby.json : %>
