{
  "apps": [
    {
      "name": "trello",
      "profile": "Default"
    },
    {
      "name": "Gmail",
      "profile": "Default"
    },
    {
      "name": "GoogleCalendar",
      "profile": "Default"
    },
    {
      "name": "GoogleHangouts",
      "profile": "Default"
    }
  ]
}


<%# vim: set filetype=eruby.json : %>
