{
  "backups": [
    {
      "name": "projects",
      "dir": "/data/projects",
      "repo": "/data/backup/kate-projects.attic"
    },
    {
      "name": "docs",
      "dir": "/data/docs",
      "repo": "/data/backup/kate-docs.attic"
    }
  ]
}


<%# vim: set filetype=eruby.json : %>
