{
  "lastpass": {"user": "molari.alessandro@gmail.com"},
  "redshift": true,
  "taffybar": true,
  "copyq": true,
  "weechat": true,
  "slack": true,
  "thunderbird": true,
  "mega": true,
  "web-apps": true,
  "feh": {
    "path": "/data/graphics/wallpapers/rob-gonsalves-chalkboard-universe.jpg"
  }
<%#
  "ssh": [
    {"server": "anapnea.net", "user": "alem0lars", "pwd": "lpass:5386269492"}
  ]
%>
}


<%# vim: set filetype=eruby.json : %>
