apps:
  # System
  - name: start-pulseaudio-x11
    single: pulseaudio
    detached: false
  - name: multimonitor
    detached: false
  - name: redshift
  - name: unclutter
    args: -root
  - name: nitrogen
    args: --restore
    detached: false

  # Misc
  - name: dunst
  - name: copyq

  # Docs

  # Org
  - name: trello

  # Social
  - name: franz

lastpass:
  user: molari.luca@gmail.com


# vim: set ft=yaml.eruby :
